section.about
    .about__content
        .container
            h2.about__title.title о нас
            .about__main
                p.
                    Мы рады вас видеть на нашем официальном сайте ООО «ПромСтройСнаб». Наша компания занимается продажей Пиломатериала, Угля, Щебня, Цемента, Песка высокого качества по Кемеровской области. 
                p.
                    В частности, осуществляем оптовые поставки щебня, песка, отсева, и прочего сырья на объекты в Ленинске- Кузнецком и Кемеровской области.
                p.
                    Ведем активное сотрудничество с производственными, строительными и дорожными фирмами, а также, с бетонными заводами и другими организациями.
            h3.about__subtitle наши фотографии
        .slider-container
            .swiper.about__slider
                .swiper-wrapper
                    .swiper-slide(data-hash="slide1")
                        picture
                            source(srcset="img/photo_1.webp" type="image/webp")
                            img(src="img/photo_1.png" alt="")
                    .swiper-slide(data-hash="slide2")
                        picture
                            source(srcset="img/photo_2.webp" type="image/webp")
                            img(src="img/photo_2.png" alt="")
                    .swiper-slide(data-hash="slide3")
                        picture
                            source(srcset="img/photo_3.webp" type="image/webp")
                            img(src="img/photo_3.png" alt="")
                    .swiper-slide(data-hash="slide4")
                        picture
                            source(srcset="img/photo_1.webp" type="image/webp")
                            img(src="img/photo_1.png" alt="")
            .swiper-button-prev.about__slider-prev
            .swiper-button-next.about__slider-next
            .slider-pagination-wrapper
                .promo-slider-pagination-wrapper-inner
                    .slider-pagination.about-slider-pagination


