section.advantages
    .container
        .advantages__content
            h2.title.advantages__title наши преимущества
            .advantages__items 
                .advantage(data-aos="fade-right" data-aos-duration="1000")
                    img.advantage__image(src="img/svg/payment.svg" alt="" aria-hidden)
                    .advantage__text Любая форма оплаты
                .advantage(data-aos="fade-in" data-aos-duration="1000")
                    img.advantage__image(src="img/svg/delivery.svg" alt="" aria-hidden)
                    .advantage__text Поставки по Кемеровской области и России
                .advantage(data-aos="fade-left" data-aos-duration="1000")
                    img.advantage__image(src="img/svg/produce.svg" alt="" aria-hidden)
                    .advantage__text Собственное производство
                .advantage(data-aos="fade-up" data-aos-duration="1000")
                    img.advantage__image(src="img/svg/quality.svg" alt="" aria-hidden)
                    .advantage__text Качественная продукция
                .advantage(data-aos="fade-up" data-aos-duration="1000")
                    img.advantage__image(src="img/svg/prices.svg" alt="" aria-hidden)
                    .advantage__text Цены первого поставщика

