section.contacts
    .container
        .contacts__content
            h2.title.contacts__title контакты
            .contacts__main
                a(href="#").contact-phone.contacts__phone +7 988 289 2387
                .contacts__delivery доставка 24/7
                .contacts__schedule работа склада с 8:00 до 20:00
                .contact-location.contacts__location 101000, г. Москва, ул. Мясницкая 24/7, стр. 3, этаж 3, оф. 322
            .contacts__map#map
                //<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A15507cd5686083365a14743805cd4e136ef4e13e536e27451ef6a9253bd9e462&amp;width=570&amp;height=262&amp;lang=ru_RU&amp;scroll=true"></script>
            .contacts__requisites 
                h3.contacts__requisites-title Реквезиты
                ul.contacts__requisites-list
                    li УНП 190832780
                    li ОКПО 377225215000
                    li р/с BY57MMBN30120218300109330000
                    li в ОАО «Банк Дабрабыт»
                    li BIC банка MMBNBY22
            ul.contacts__info
                li г.Минск, ул. Коммунистическая, 49
                li Тел.(fax) (017) 354-75-75, 256-14-03, 377-50-64 (бухг).
                li Директор – Гронтковский Владимир Юрьевич действующий на основании Устава
