section.delivery
    .container
        .delivery__content
            h2.delivery__title.title доставка
            p.delivery__text.
                Доставка стройматериалов в срок и в полном объеме "золотое правило" нашей компании. Для обеспечения своевременной и систематичной поставки на объекты наших клиентов, мы используем более 20 единиц грузовой техники, поэтому доставка стройматериалов осуществляется на следующий день после:
            ul.delivery__list
                li Оформления заказа (для физических лиц);
                li После поступления денежных средств на расчетный счет (для юридических лиц).
            .delivery__items
                .delivery__item 
                    .delivery__item-title.delivery__item-title_end Доставка в розницу осуществляется собственным транспортом.
                    .delivery__item-images
                        picture
                            source(srcset="img/truck_1.webp" type="image/webp")
                            img.delivery__item-image(src="img/truck_1.png", alt="Грузовик" width="232" height="173")
                        picture
                            source(srcset="img/truck_2.webp" type="image/webp")
                            img.delivery__item-image(src="img/truck_2.png", alt="Грузовик" width="289" height="190")

                .delivery__item 
                    .delivery__item-title Оптовые поставки осуществляются автотранспортом и по Ж/д.
                    .delivery__item-images
                        picture
                            source(srcset="img/truck_3.webp" type="image/webp")
                            img.delivery__item-image(src="img/truck_3.png", alt="Вагон" width="256" height="93")
                        picture
                            source(srcset="img/truck_4.webp" type="image/webp")
                            img.delivery__item-image(src="img/truck_4.png", alt="Грузовик" width="262" height="220")