
section.hero#hero
    .hero__wrapper
        h1.hero__title.visually-hidden Товары 
        .swiper.hero__slider.slider-main(data-aos="fade-in")
            .swiper-wrapper

                .swiper-slide(data-hash="slide1")
                    .slider-main__slide
                        picture
                            source(srcset="img/first_screen_1.webp" type="image/webp")
                            img(src="img/img/first_screen_1.png" alt="")
                        .slider-main__slide-gradient
                        .container(data-swiper-parallax="-800" data-swiper-parallax-duration="600")
                            .slider-main__content.slider-main__content_center
                                h2.slider-main__title Пиломатериалы Уголь Щебень Цемент Песок
                                .slider-main__subtitle.
                                    в Ленинске-Кузнецком с доставкой
                                .slider-main__links
                                    a.btn.slider-main__link(href="#") в каталог
                                    a.btn.slider-main__link(href="#") заказать звонок
                                .slider-main__contact 
                                    p или связаться с нами через соц. сети
                                .slider-main__social
                                    a(href="#" aria-label="вконтакте").social.social_vk
                                    a(href="#" aria-label="однокласники").social.social_ok
                                    a(href="#" aria-label="телеграм").social.social_tg

                .swiper-slide(data-hash="slide2")
                    .slider-main__slide
                        picture
                            source(srcset="img/first_screen_2.webp" type="image/webp")
                            img(src="img/img/first_screen_2.png" alt="")
                        .slider-main__slide-gradient
                        .container(data-swiper-parallax="-800" data-swiper-parallax-duration="600")
                            .slider-main__content.slider-main__content_center
                                h2.slider-main__title Пиломатериалы Уголь Щебень Цемент Песок
                                .slider-main__subtitle.
                                    в Ленинске-Кузнецком с доставкой
                                .slider-main__links
                                    a.btn.slider-main__link(href="#") в каталог
                                    a.btn.slider-main__link(href="#") заказать звонок
                                .slider-main__contact 
                                    p или связаться с нами через соц. сети
                                .slider-main__social
                                    a(href="#" aria-label="вконтакте").social.social_vk
                                    a(href="#" aria-label="однокласники").social.social_ok
                                    a(href="#" aria-label="телеграм").social.social_tg
                                    
                .swiper-slide(data-hash="slide3")
                    .slider-main__slide
                        picture
                            source(srcset="img/first_screen_1.webp" type="image/webp")
                            img(src="img/img/first_screen_1.png" alt="")
                        .slider-main__slide-gradient
                        .container(data-swiper-parallax="-800" data-swiper-parallax-duration="600")
                            .slider-main__content.slider-main__content_center
                                h2.slider-main__title Пиломатериалы Уголь Щебень Цемент Песок
                                .slider-main__subtitle.
                                    в Ленинске-Кузнецком с доставкой
                                .slider-main__links
                                    a.btn.slider-main__link(href="#") в каталог
                                    a.btn.slider-main__link(href="#") заказать звонок
                                .slider-main__contact 
                                    p или связаться с нами через соц. сети
                                .slider-main__social
                                    a(href="#" aria-label="вконтакте").social.social_vk
                                    a(href="#" aria-label="однокласники").social.social_ok
                                    a(href="#" aria-label="телеграм").social.social_tg

                .swiper-slide(data-hash="slide4")
                    .slider-main__slide
                        picture
                            source(srcset="img/first_screen_2.webp" type="image/webp")
                            img(src="img/img/first_screen_2.png" alt="")
                        .slider-main__slide-gradient
                        .container(data-swiper-parallax="-800" data-swiper-parallax-duration="600")
                            .slider-main__content.slider-main__content_center
                                h2.slider-main__title Пиломатериалы Уголь Щебень Цемент Песок
                                .slider-main__subtitle.
                                    в Ленинске-Кузнецком с доставкой
                                .slider-main__links
                                    a.btn.slider-main__link(href="#") в каталог
                                    a.btn.slider-main__link(href="#") заказать звонок
                                .slider-main__contact 
                                    p или связаться с нами через соц. сети
                                .slider-main__social
                                    a(href="#" aria-label="вконтакте").social.social_vk
                                    a(href="#" aria-label="однокласники").social.social_ok
                                    a(href="#" aria-label="телеграм").social.social_tg

            .slider-main__control
                .slider-main__control-container
                    .swiper-button-prev.slider-main__btn-prev
                    .swiper-button-next.slider-main__btn-next
