section.promo
        .promo__content 
            .container
                h2.promo__title.title акции
            .slider-container
                .swiper.promo-slider
                    .swiper-wrapper

                        .swiper-slide(data-hash="slide1")
                            .promo-card
                                picture
                                    source.lazyload(srcset="img/common/image.webp" data-src="img/promo_sand.webp" type="image/webp")
                                    img.lazyload(src="img/common/image.png" data-src="img/promo_sand.png" alt="карьерный песок" width="560" height="326")
                                .promo-card__content
                                    .promo-card__info
                                        h3.promo-card__title песок карьерный
                                        p Скидка 
                                            span.promo-card__discount 20%
                                        .promo-card__price 550 руб/м3
                                            span.promo-card__old-price 750 руб/м3
                                    button.btn.promo-card__btn купить сейчас
                                    

                        .swiper-slide(data-hash="slide2")
                            .promo-card
                                picture
                                    source.lazyload(srcset="img/common/image.webp" data-src="img/promo_sheben.webp" type="image/webp")
                                    img.lazyload(src="img/common/image.png" data-src="img/promo_sheben.png" alt="щебень" width="560" height="326")
                                .promo-card__content
                                    .promo-card__info
                                        h3.promo-card__title щебень вторичный
                                        .promo-card__price 1350 руб/м3
                                            span.promo-card__old-price 1500 руб/м3
                                    button.btn.promo-card__btn купить сейчас

                        .swiper-slide(data-hash="slide3")
                            .promo-card
                                picture
                                    source.lazyload(srcset="img/common/image.webp" data-src="img/promo_sand.webp" type="image/webp")
                                    img.lazyload(src="img/common/image.png" data-src="img/promo_sand.png" alt="карьерный песок" width="560" height="326")
                                .promo-card__content
                                    .promo-card__info
                                        h3.promo-card__title песок карьерный
                                        p Скидка 
                                            span.promo-card__discount 20%
                                        .promo-card__price 550 руб/м3
                                            span.promo-card__old-price 750 руб/м3
                                    button.btn.promo-card__btn купить сейчас
                                    

                        .swiper-slide(data-hash="slide4")
                            .promo-card
                                picture
                                    source.lazyload(srcset="img/common/image.webp" data-src="img/promo_sheben.webp" type="image/webp")
                                    img.lazyload(src="img/common/image.png" data-src="img/promo_sheben.png" alt="щебень" width="560" height="326")
                                .promo-card__content
                                    .promo-card__info
                                        h3.promo-card__title щебень вторичный
                                        .promo-card__price 1350 руб/м3
                                            span.promo-card__old-price 1500 руб/м3
                                    button.btn.promo-card__btn купить сейчас

                .swiper-button-prev.promo-slider-prev
                .swiper-button-next.promo-slider-next
                .slider-pagination-wrapper
                    .promo-slider-pagination-wrapper-inner
                        .slider-pagination.promo-slider-pagination