section.reviews
        .reviews__content
            .container
                h2.title.reviews__title отзывы
            .slider-container
                .swiper.reviews__slider
                    .swiper-wrapper
                        .swiper-slide(data-hash="slide1")
                            .review
                                .review__avatar-wrapper
                                    picture
                                        source(srcset="img/review_ava_1.webp" type="image/webp")
                                        img(src="img/review_ava_1.png" alt="#")
                                .review__text.
                                    Компания ООО “СамСофтЛайн” выражает благодарность за качественную и своевременную поставку материала, за внимательный подход к поставленной задаче.
                                .review__bottom
                                    .review__data 5 марта 2022
                                    .review__rating
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                        .swiper-slide(data-hash="slide2")
                            .review
                                .review__avatar-wrapper
                                    picture
                                        source(srcset="img/review_ava_2.webp" type="image/webp")
                                        img(src="img/review_ava_2.png" alt="#")
                                .review__text.
                                    Настоящим письмом выражаем искренюю благодарность за профессионально выполненную  работу. На всех этапах сотруднечиства Компания зарекомендовала себя как надёжного партнёра. Были соблюдены сроки поставки. Так же следует отметить профессионализм сотрудников.
                                .review__bottom   
                                    .review__data 5 марта 2022
                                    .review__rating
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start.review__rating-start_empty
                        .swiper-slide(data-hash="slide3")
                            .review
                                .review__avatar-wrapper
                                    picture
                                        source(srcset="img/review_ava_3.webp" type="image/webp")
                                        img(src="img/review_ava_3.png" alt="#")
                                .review__text.
                                    Компания ООО “СамСофтЛайн” выражает благодарность за качественную и своевременную поставку материала, за внимательный подход к поставленной задаче.
                                .review__bottom
                                    .review__data 5 марта 2022
                                    .review__rating
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                        .swiper-slide(data-hash="slide4")
                            .review
                                .review__avatar-wrapper
                                    picture
                                        source(srcset="img/review_ava_1.webp" type="image/webp")
                                        img(src="img/review_ava_1.png" alt="#")
                                .review__text.
                                    Компания ООО “СамСофтЛайн” выражает благодарность за качественную и своевременную поставку материала, за внимательный подход к поставленной задаче.
                                .review__bottom
                                    .review__data 5 марта 2022
                                    .review__rating
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                                        .review__rating-start
                .review-slider-pagination.slider-pagination
                .swiper-button-prev.review-prev
                .swiper-button-next.review-next