section.wholesalers
    .container
        .wholesalers__content
            h2.wholesalers__title.title оптовикам
            ol.wholesalers__list
                li Работаем по предварительно заключенному договору.
                li Гарантированно выполняем свои обязательства перед клиентами. 
                li Можем организовать отлаженные поставки Пиломатериала, угля и нерудных материалов на объекты с целью обеспечения бесперебойной работы.
            h3.wholesalers__subtitle Другие преимущества ООО «ПромСтройСнаб»:
            .wholesalers__advantages(data-aos="fade-up" data-aos-duration="700")
            
                .advantage
                    img.advantage__image(src="img/svg/warehouse.svg" alt="")
                    .advantage__text Наличие больших складских площадей;

                .advantage
                    img.advantage__image(src="img/svg/payment.svg" alt="")
                    .advantage__text Любая форма оплаты

                .advantage
                    img.advantage__image(src="img/svg/logistic.svg" alt="")
                    .advantage__text Грамотная система логистики;

                .advantage
                    img.advantage__image(src="img/svg/deadlines.svg" alt="")
                    .advantage__text Четкое соблюдение сроков отгрузки;

                .advantage
                    img.advantage__image(src="img/svg/distribution.svg" alt="")
                    .advantage__text Обширная география развозки;

                .advantage
                    img.advantage__image(src="img/svg/stocks.svg" alt="")
                    .advantage__text Собственные карьерные запасы материалов.

            button.btn.wholesalers__btn(data-aos="flip-up" data-aos-duration="700") Для заключения договора на поставку свяжитесь с нами